:root {
  font-family: 'Didact Gothic', Helvetica, Arial, Lucida, sans-serif;
  font-weight: 400;
  color: #3D4039;
}

h1,
h2,
h3,
h4,
.fancy-font {
  font-family: 'Source Sans 3', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: 0.06em;
  color: #125773;
}

body {
  background-color: #D0DBD9;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

main {
  margin: 0;
  padding: 0;
}

svg {
  vertical-align: top;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-areas:
    "scen-input scen-input"
    "main-bucket histogram"
    "other-buckets other-buckets";
  max-height: 100vh;
  min-width: 100vw;
}

.scen-input {
  grid-area: scen-input;

  display: flex;
  gap: 0.5rem;
  width: max-content;
  margin: 0.5rem auto;
  color: #808c54;
  font-size: 0.8rem;
}

.scen-input button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.scen-input button:first-child,
.scen-input button:last-child {
  padding-inline: 1rem;
  border-radius: 1rem;
  transition: background-color 0.15s, color 0.15s;
}

.scen-input button:first-child:hover,
.scen-input button:last-child:hover {
  background-color: lightgray;
  color: white;
}

.scen-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid transparent !important;
  border-radius: 0.5rem;
  transition: border 0.15s;
}

.scen-picker:hover {
  border: 1px solid gray !important;
}

.scen-picker span:nth-child(2) {
  font-size: 2rem;
  color: black;
}

.bucket-viz {
  grid-area: main-bucket;
  display: grid;
}

.bucket-viz-container {
  position: relative;
  width: min-content;
  place-self: center;
}

.pdf-container {
  grid-area: histogram;
  max-height: 100%;
  position: relative;
}

.pdf-container>* {
  max-height: 100%;
  display: flex;
  position: absolute !important;
  align-items: flex-end;
}

.other-buckets-container {
  grid-area: other-buckets;

  display: grid;
  padding-block: 2rem;
  width: calc(100vw - 10rem);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, 50px);
  font-size: 0.6rem;
  gap: 1rem;
  color: #808c54;
  overflow-y: scroll;
}

.slider-container {
  display: grid;
}

.scen-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% + 120px);
  left: 5rem;
  transform: translateX(-50%);
  font-size: 0.9rem;
}

.scen-name :first-child {
  font-size: 0.7rem;
  color: #808c54;
}

.scen-name button {
  font-size: 0.7rem;
  color: #808c54;
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

.bucket-map-container {
  position: relative;
}

.preview-indic {
  visibility: hidden;
  position: absolute;
  top: 1rem;
  color: red;
  left: 100%;
}

.preview-indic.visible {
  visibility: visible;
}

.input-range {
  place-self: center;
  height: 200px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: vertical-lr;
  direction: rtl;
}

/* Firefox Overrides */
::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

.main-bucket-label {
  position: absolute;
  bottom: calc(100% + 1em);
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #808c54;
}

.bucket-and-label>span {
  display: inline-block;
  max-width: 9ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bucket-and-label {
  cursor: pointer;
}

.bucket-and-label:hover {
  transform: translateY(-5px);
}

.bucket-and-label.cur-obj {
  visibility: hidden;
}

.bucket-razor {
  position: absolute;
  height: 3px;
  border: none;
  border-top: 1px dashed black;
  width: 100%;
}

.bucket-razor p:first-child {
  display: block;
  text-align: center;
  margin-left: calc(100% + 0.5rem);
  margin-top: -2em;
  width: min-content;
  font-size: 0.7rem;
  color: #808c54;
}

.bucket-razor p:last-child {
  display: block;
  text-align: center;
  margin-left: calc(100% + 0.5rem);
  /* margin-top: 0.5em; */
  width: max-content;
  font-size: 1rem;
}

.bucket-razor p:last-child>span {
  font-size: 0.8rem;
}

.dot-pdf-wrapper {
  place-self: center;
  position: relative;
  isolation: isolate;
}

.pdf-razor {
  height: 100%;
  top: 0;
  position: absolute;
  font-size: 0.8em;
  border: none;
  border-right: 3px dashed #CC8F43;
  color: gray;
  font-family: sans-serif;
}

.pdf-razor> :first-child::after {
  content: "";
  height: 100%;
  width: 20px;
  transform: translateX(-50%);
  position: absolute;
  cursor: col-resize;
}

.pdf-razor>* {
  position: relative;
  height: 100%;
}

.pdf-razor span {
  position: absolute;
  display: block;
  width: 20ch;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5em;
  padding: 0.5em;
  pointer-events: none;
}

.pdf-razor span:first-child {
  top: 2rem;
  right: 1rem;
}

.pdf-razor span:last-child {
  top: 2rem;
  left: 1rem;
}

.pdf-razor.short-form span {
  width: 8ch;
}

.ridgeline-overlay {
  background-color: rgb(200, 200, 200);
  position: fixed;
  height: 100vh;
  width: 30rem;
  left: 0;
  top: 0;
  isolation: isolate;

  background-color: rgba(251, 251, 255, 0.6);
  box-shadow: -1px 0px 8px rgba(200, 200, 200, 1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.ridgeline-overlay-container {
  position: relative;
  height: 100%;
  padding: 2rem;
}

.overlay-exit-btn {
  font-size: 1.5rem;
  padding: 0 0.3em;
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
  color: lightgray;
  transition: background-color 0.15s, color 0.15s;

  right: 1em;
  top: 1em;
}

.overlay-exit-btn:hover {
  color: white;
  background-color: lightgray;
}

.overlay-container {
  margin: 0 auto;
  width: min-content;
  position: relative;
  overflow-y: auto;
  height: 90%;
}

.overlay-container-2 {
  /* place-self: center; */
  margin: 0 auto;
  width: min-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.overlay-container-2.previewing>* {
  filter: contrast(30%) brightness(150%);
}

.overlay-container-2>* {
  position: relative;
  display: flex;
  align-items: end;
  font-size: 0.7rem;
  color: #808c54;
  font-weight: 300;
  cursor: pointer;
  height: 23px;
  -webkit-filter: none;
  filter: none;
  width: min-content;
}

.overlay-container-2 .icons {
  visibility: hidden;
}

.overlay-container-2 .previewing .icons {
  visibility: visible;
}

.overlay-container-2>*.previewing {
  filter: none;
  z-index: 1000;
}

.overlay-container-2>*.current-scene {
  box-shadow: 0px 0px 10px 1px yellow;
}

.dot-overlay-razor {
  position: absolute !important;
  width: 5px;
  top: 0px;
  min-height: 100% !important;
  border: none;
  border-left: 1px dashed black;
  overflow: hidden;
}

.dot-pdf-shadowed {}

/* cr: https://codepen.io/S-Maas/pen/NrYvdK */

.sort-types {
  display: flex;
  max-width: 20rem;
  width: 100%;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-size: 12px;
  border: 1px solid steelblue;
  border-radius: 3px;
  color: steelblue;
  margin-bottom: 2rem;
}

.sort-types>input {
  display: none;
}

.sort-types>input:checked+label {
  color: white;
}

.sort-types>input:nth-of-type(1):checked~label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}

.sort-types>input:nth-of-type(2):checked~label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}

.sort-types>input:nth-of-type(3):checked~label:last-of-type:before {
  transform: translateX(calc(200% + 0px));
}

.sort-types label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.sort-types label:last-of-type:before {
  content: "";
  display: block;
  max-width: calc(33.333% - 0px);
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
}

.sort-types label {
  padding: 6px 3px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.sort-types label:before {
  background: steelblue;
  transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.sort-types label:not(:last-child) {
  border-right: 1px solid steelblue;
}

.editor {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 1rem auto;
  width: min-content;
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.big-bucket-wrapper {
  width: min-content;
  margin: 0 auto;
}

.bubbles-svg-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.bubbles-input-area {
  position: absolute;
  z-index: 10;
}

.bubbles-svg-wrapper {
  top: 0;
  left: 0;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.bubbles-svg {
  background: white;
  /* filter: url(#wavy2);
  mix-blend-mode: screen; */
  pointer-events: all;
}

main {
  min-height: 100vh;
  background-color: aliceblue;
  display: grid;
}

.main-container {
  --width: 50rem;
  --gap: 1rem;
  --cols: 3;
  --colSize: calc(var(--width) / var(--cols));
  --cellSize: calc((var(--width) - (var(--gap) * (var(--cols) - 1))) / var(--cols));

  place-self: center;

  display: grid;
  grid-template-columns: repeat(var(--cols), var(--colSize));
  gap: var(--gap);
  max-width: var(--width);
  margin-inline: auto;
  padding-block: 2rem;
}

.main-container>* {
  display: block;
  width: var(--cellSize);
  height: var(--cellSize);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.main-container a {
  font-size: 1rem;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
  color: darkslateblue;
  position: relative;
  background-color: white;
  text-align: center;
}

.main-container a:hover {
  font-size: 2rem;
  z-index: 10;
}

.main-container a[title] {
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
}

.main-container a[title]::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  mix-blend-mode: screen;
  opacity: 0;
}

.main-container a[title]::after {
  content: attr(title);
  padding: 1em;
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.main-container a[title]:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.5;
  mix-blend-mode: screen;
}

.main-container a[title]:hover::after {
  opacity: 1;
}

.main-container img {
  display: block;
  margin: 0;
}

text {
  /* font-size: 0.8rem; */
  pointer-events: none;
  z-index: 1;
}

.small-drop,
.large-drop {
  cursor: pointer;
}

.drop-label {
  fill: #808c54;
}

.small-drop .outline {
  fill: none;
  stroke: lightgray;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

/* Loading waterdrop */

/* 
Copyright (c) 2024 by Ayoub Mkira (https://codepen.io/kira-code/pen/BaYGwYg)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

 */

.sec-loading {
  --border-width: 7px;

  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D0DBD9;
}

.sec-loading .one {
  height: 80px;
  width: 80px;
  border: var(--border-width) solid steelblue;
  transform: rotate(45deg);
  border-radius: 0 50% 50% 50%;
  position: relative;
  animation: move 0.5s linear infinite alternate-reverse;
}

.sec-loading .one::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 55%;
  border-radius: 50%;
  border: var(--border-width) solid transparent;
  border-top-color: steelblue;
  border-bottom-color: steelblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes move {
  to {
    transform: translateY(15px) rotate(45deg);
  }
}

#mosaic-svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: all;
}

.bubbles-tooltip {
  position: absolute;
  pointer-events: "none";
}

.explanation-anim-wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "animcenter";
  justify-content: center;
  align-items: center;
}

.explanation-anim-wrapper>* {
  grid-area: animcenter;
  place-self: center;
}

.explanation-anim-wrapper .bucket-wrapper {
  z-index: -1;
}

.explanation-anim-wrapper select {
  position: absolute;
  top: 0;
}

.explanation-anim-wrapper p {
  position: absolute;
  width: 20%;
  display: block;
  left: 2rem;
  top: 20%;
}

.go-back-btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  outline: 0;
  font-size: 4em;
  cursor: pointer;
  background-color: #6b7544;
  color: white;
  padding: 0 0.5em;
  height: 0.8em;
  display: flex;
  align-items: end;
  border: none;
  border-radius: 0.5rem;

  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.go-back-btn:hover {
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
}


.go-back-btn span {
  transition: 0.2s transform;
  display: block;
}

.go-back-btn:hover span {
  transform: translateX(-0.3em);
}

.circlet {
  pointer-events: none;
  transform-box: fill-box;
  transform-origin: center;
}

.circlet.interactive {
  display: none;
}

.hover-capture:hover+.circlet,
.hover-capture:hover .circlet {
  display: initial;
}

.circlet.active {
  display: initial;
  animation: rotating 30s linear infinite;
}

.cloud-text {
  fill: #3D4039;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.action-btn-wrapper {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1.5rem;
  align-items: end;
  width: max-content;
}

.wide-view-action-btn {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.3em;
  align-items: center;
  transition: all 0.3s;
  animation: enterView 0.1s;

  background-color: rgba(128, 140, 84, 1.0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wide-view-action-btn:hover {
  background-color: rgb(107, 117, 68, 1.0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
}

.supplement-btn {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.8em 1.2em;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.3em;
  align-items: center;
  transition: all 0.3s;
  animation: enterView 0.1s;

  background-color: rgba(128, 140, 84, 1.0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.supplement-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
  background-color: rgba(107, 117, 68, 1.0);
}

@keyframes enterView {
  from {
    transform: translateY(2rem);
  }

  to {
    transform: translateY(0);
  }
}

#filterbox {
  font-size: 1.5rem;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  padding: 2rem;
  /* display: none; */
  isolation: isolate;

  background: rgba(239, 235, 224, 0.568);
  backdrop-filter: blur(10px);
  border-radius: 1em;
  border: 1px solid rgba(239, 235, 224, 0.868);
}

#filterbox button {
  
  color: white;
  font-size: 1em;
  margin-left: 1em;
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5rem;
  display: inline-flex;
  gap: 0.3em;
  align-items: center;
  transition: all 0.3s;

  background-color: rgba(128, 140, 84, 1.0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#filterbox button:hover {
  
  background-color: rgb(107, 117, 68, 1.0);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.5) 0px 1px 3px -1px;
}

#infobox {
  font-size: 1.5rem;
  position: absolute;
  top: 1em;
  left: calc(50% + 30vh);
  display: flex;
  flex-direction: column;
  width: min-content;
  padding: 2rem;
  display: none;
  isolation: isolate;

  background: rgba(239, 235, 224, 0.568);
  backdrop-filter: blur(10px);
  border-radius: 1em;
  border: 1px solid rgba(239, 235, 224, 0.868);
}

#infobox svg {
  pointer-events: all;
}

.searchbox {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}

.searchbox input {
  border: none;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 100vh;
  opacity: 0.5;
  font-size: 0.8em;
}

.searchbox .results {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 0.8em;
  border-radius: 1em;
  overflow-y: hidden;
  width: 100%;
  color: gray;
  background-color: white;
  padding-block: 0.5em;
}

.results button {
  color: gray;
  border: none;
  cursor: pointer;
  padding: 0.4em 1em;
  background-color: white;
}

.results button:hover {
  background-color: rgb(244, 244, 244);
}

.details {
  padding-block: 1em;
}

.curKey {
  font-size: 0.8em;
  color: #808c54;
  margin-block: 1em;
}

.curDesc {}

.no-loc-data {
  font-size: 0.8em;
  color: #808c54;
  margin-block: 1em;
  font-style: italic;
}

.panel {
  cursor: move;
  background-color: white;
  padding: 1em 0.5em;
  position: absolute;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  width: min-content;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.2em;
}

.panel-main-container {
  position: relative;
}

.panel .bottle-wrapper, .panel.left .bottle-wrapper {
  position: absolute;
  top: 100%;
  left: 100%;
  right: initial;
  transform: translate(-30%, -50%);
}

.panel.right .bottle-wrapper {
  position: absolute;
  top: 100%;
  right: 100%;
  left: initial;
  transform: translate(30%, -50%);
}

.panel .dot-histogram-wrapper {
  display: flex;
  align-items: end;
  position: relative;
  min-height: 0;
}

.panel .bottle-wrapper {
  pointer-events: none;
}

.examine-panel {
  height: min-content;
}

.examine-panel.preview {
  transition: left 0.1s, top 0.1s;
}

.examine-panel .dot-histogram-wrapper {
  height: 240px;
}

.compare-panel .dot-histogram-wrapper {
  height: 280px;
}

.compare-panel {
  transform: translateY(-50%);
}

.compare-panel.left {
  transform: translate(-100%, -50%);
}

.comp-line {
  stroke: #CC8F43;
  stroke-dasharray: 3;
  opacity: 0.5;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

#member-label,
#member-variable {
  text-anchor: middle;
}

.examine-large-label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  width: 15ch;
  line-height: 1.2;
  color: #808c54;
  opacity: 0.5;
}

.large-green-text {
  fill: #808c54;
  line-height: 1.5;
}

#member-label {
  fill: black;
}

#member-variable {
  fill: #CC8F43;
  font-weight: bold;
}

.panel-tab {
  position: absolute;
  right: 0;
  bottom: 100%;
  background: white;
  padding: 0.2em 1em 0 1em;
  font-size: 1.2rem;
  border-radius: 0.5em 0.5em 0 0;
}

.panel-tab span {
  font-weight: bold;
  color: #CC8F43;
  font-size: 2em;
}

.panel line,
.panel path {
  stroke: #bbbbbb;
  stroke-width: 0.5px;
}

.panel text {
  fill: #bbbbbb;
  font-size: 0.9rem;
}

.tutorial-view {
  position: absolute;
  top: 0;
  width: 100%;
  isolation: isolate;
  line-height: 1.8;
  font-size: 0.9em;
}

.tutorial-view .vardrop,
.tutorial-view .main-histogram,
.tutorial-view .main-waterdrop {
  font-size: 1.4em;
}

.tutorial-view .dot-histogram-wrapper {
  height: 25vh;
  display: flex;
  align-items: end;
}

.tutorial-view .dot-histogram-wrapper text {
  font-size: 1.2em;
}

#tut-point-groups {
  position: absolute;
  top: 0;
  left: 0;
}

.scrollama {
  padding-bottom: 1px;
  background-color: #EFEBE0;
}

.create-buckets-section {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  margin-inline: auto;
  --graph-width: 1100px;
}

.create-buckets-section h2,
.scenarios-section h2 {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}

.create-buckets-section p {
  font-size: 1.4em;
  text-indent: 2ch;
  margin-block: 0.3em;
}

.create-buckets-section>p:first-of-type {
  margin-block: 1.3em;
  text-align: center;
}

.explain-results {
  position: absolute;
  width: calc(100vw - var(--graph-width) - 10em);
  right: var(--graph-width);
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}

.ag-annot, .ref-annot {
  display: none;
  max-width: 30ch;
  top: 50%;
  transform: translateY(-50%);
  /* list-style-type: '- '; */
  list-style-position: outside;
  font-size: 1.4em;
}

.ag-annot li + li, .ref-annot li + li {
  /* margin-top: 1em; */
}

.ag-annot {
  position: absolute;
  right: calc(var(--graph-width) / 2 + 50%);
}

.ref-annot {
  position: absolute;
  left: calc(var(--graph-width) / 2 + 50%);
}

.tut-graph-wrapper {
  display: flex;
  position: absolute;
  width: min-content;
  top: 50%;

  right: 50%;
  transform: translate(50%, -50%);
  transition: transform 0.5s;
}

.tut-graph-wrapper.moved {
  transform: translate(calc(50vw - 3em), -50%);
}

.tut-graph {
  display: grid;
  position: relative;
  grid-template-areas: "area";
}

.tut-graph>* {
  place-self: center;
  grid-area: area;
}

.objective-label {
  text-align: center;
  color: #808c54;
  font-size: 1.1em;
}

.tut-graph>p {
  position: absolute;
  top: -1.8em;
}

.scrollama {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

.scrollama-next {
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
  z-index: 1000;
  font-size: 1.5em;
  width: 20ch;
  line-height: 1.3;
  opacity: 0.9;
  border: none;
  color: white;
  padding: 1em;
  border-radius: 100vh;
  background-color: rgba(128, 140, 84, 0.9);
  box-shadow: rgba(50, 50, 93, 0.25) 6px 6px 18px;
  font-variant: small-caps;
}

.scrollama-next:hover {
  cursor: pointer;
  opacity: 1;
}

.tut-text-card-wrapper {
  height: 100vh;
  scroll-snap-align: start;
}

.tut-text-card-wrapper+.tut-text-card-wrapper {
  margin-top: 2rem;
}

.tut-text-card {
  --height: 5em;

  font-size: 1.4em;
  width: 100%;
  height: var(--height);
  isolation: isolate;
  background-color: rgb(18, 87, 115, 0.7);
  color: white;
  position: fixed;
  bottom: 0;
  display: grid;
  transform: translateY(200%);
  z-index: 100;
}

.tut-text-card::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 112' width='100%25' height='112' preserveAspectRatio='none'%3E%3Cg fill='%23125773'%3E%3Cpath d='m960 84c160 0 240-21 320-42v70h-1280v-70c80-21 160-42 320-42 320 0 320 84 640 84z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100px;
  bottom: 100%;
  position: absolute;
  height: 100px;
  width: 100%;
  opacity: 0.7;
  z-index: -1;
  transform: scale(1, 1);
}

.tut-text-card-container {
  max-width: min(80ch, 100%);
  place-self: center;
  transform: translateY(-20px);
}

.scrollama .tut-text-card.hero {
  opacity: 1;
}

.cte {
  font-size: 1.6em;
  margin-inline: auto;
  min-height: calc(100vh - 200px);
  display: grid;
  position: relative;
  background-color: #4B7E92;
  color: white;
  isolation: isolate;
  z-index: 10;
  margin-top: 200px;
}

.cte::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 112' width='100%25' height='112' preserveAspectRatio='none'%3E%3Cg fill='%234B7E92'%3E%3Cpath d='m960 84c160 0 240-21 320-42v70h-1280v-70c80-21 160-42 320-42 320 0 320 84 640 84z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 100% 100px;
  bottom: 100%;
  position: absolute;
  height: 100px;
  width: 100%;
  transform: scale(1, 1);
  z-index: -1;
}

.cte::after {
  content: '';
  background-color: #EFEBE0;
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 100%;
  z-index: -2;
}

.cte-container {
  place-self: center;
  width: min(60ch, 100%);
}

.card1 {
  display: flex;
  max-width: 60vw;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.cte button {
  display: block;
  margin: 1em auto;
  border: none;

  color: white;
  background-color: rgba(128, 140, 84, 1.0);
  padding: 0.5em 1em;
  border-radius: 0.6em;
  cursor: pointer;
}

.cte button:hover {
  background-color: rgb(107, 117, 68, 1.0);
}

.card1>p {
  position: relative;
  isolation: isolate;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1em;
}

.supplement-card-info {
  display: block;
  text-align: right;
  color: #D0DBD9;
  font-size: 0.7em;
  font-style: italic;
  margin-top: -0.5em;
}

.tut-hero {
  min-height: 100vh;
  background-color: #D0DBD9;
}

.tut-hero-container {
  position: relative;
  width: min(100%, 90rem);
  isolation: isolate;
  margin-inline: auto;
}

.tut-hero .tut-map-california {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  display: block;
  z-index: -1;
}

.tut-hero h1 {
  font-size: 10em;
  width: max-content;
  margin-inline: auto;
  text-indent: -3ch;
  padding-top: 0.3em;
}

.tut-hero p {
  font-size: 1.7em;
  width: min(calc(100% - 50vh), 60ch);
  margin-left: auto;
  margin-right: 2em;
  z-index: 1;
  margin-block: 1em;
  color: #333;
}

#ag-group {
  color: #808C54;
  font-weight: bold;
}

#ref-group {
  color: #60A4BF;
  font-weight: bold;
}

.skip-btn {
  position: absolute;
  top: calc(100vh - 5rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: inherit;
  border: none;
  padding: 1em;
  color: #808c54;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.skip-btn:hover {
  text-decoration: none;
}

.tut-drop-graphics-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  margin-inline: auto;
}

.waterdrop-graphics-wrapper {
  position: relative;
  display: grid;
  height: 80%;
}

.waterdrop-graphics-wrapper .main-waterdrop {
  place-self: center;
}

.vardrop {
  position: absolute;
  --block-padding: 3rem;
  --inline-padding: 1rem;
}

.vardrop .bucket-outline {
  stroke-dasharray: 10 10;
}

.drop1 {
  left: var(--inline-padding);
  top: -2.5em;
}

.drop1.highlighted::after {
  content: "";
  position: absolute;
  top: -1em;
  left: 0em;
  right: 0em;
  bottom: -1em;
  border: 3px solid #CC8F43;
  border-radius: 1em;
}

.drop2 {
  right: var(--inline-padding);
  top: -2.5em;
}

.drop3 {
  left: var(--inline-padding);
  bottom: var(--block-padding);
}

.drop4 {
  right: var(--inline-padding);
  bottom: var(--block-padding);
}

.tut-text-card button {
  display: block;
  margin: 1em auto;
  background-color: none;
  border: 2px solid lightgray;
  background-color: transparent;
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  font-weight: bold;
}

.tut-text-card button:hover {
  background-color: lightgray;
}

.main-waterdrop {
  position: relative;
}

.main-waterdrop p:nth-of-type(1),
.vardrop p:nth-of-type(1) {
  display: block;
  text-align: center;
  margin-top: 1em;
}

.main-waterdrop p:nth-of-type(2) {
  margin-top: 1em;
}

.main-waterdrop .volume-not-height {
  position: absolute;
  top: 0;
  left: 100%;
  color: #808c54;
  font-style: italic;
  width: 40ch;
  line-height: 1.8;
  font-size: 0.8em;

  --indentation: 5ch;
  text-indent: calc(-1 * var(--indentation));
  padding-left: var(--indentation);
}

.main-waterdrop .volume-not-height::before {
  content: "*";
  position: absolute;
  top: 0;
  left: calc(var(--indentation) - 2ch);
}

.tut-drop-graphics-wrapper .scen-number {
  color: #CC8F43;
  font-weight: bold;
}

.waterdrop-explain-pag {
  position: absolute;
  font-size: 1.4em;
  width: 30ch;
  text-indent: 2ch;
  right: 60%;
  top: 50%;
  transform: translateY(-50%);
}

.vardrop>.dot-histogram-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.drop1>.dot-histogram-wrapper,
.drop3>.dot-histogram-wrapper {
  left: 60%;
}

.drop2>.dot-histogram-wrapper,
.drop4>.dot-histogram-wrapper {
  right: 60%;
}

.vardrop.hasarrow::before {
  content: attr(desc);
  display: block;
  position: absolute;
  color: #808c54;
  width: 30ch;
  text-align: center;
  transform-origin: center center;
  border-bottom: 1px dashed gray;
}

.drop1.hasarrow::before {
  top: 50%;
  left: 80%;
  transform: rotate(30deg);
}

.drop2.hasarrow::before {
  top: 50%;
  right: 80%;
  transform: rotate(-30deg);
}

.drop3.hasarrow::before {
  bottom: 50%;
  left: 80%;
  transform: rotate(-30deg);
}

.drop4.hasarrow::before {
  bottom: 50%;
  right: 80%;
  transform: rotate(30deg);
}

.main-histogram {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.tut-comparer-graphics-wrapper {
  position: sticky;
  top: 0;
}

.tut-comparer-graphics-wrapper>svg {
  /* transform: translateX(-30vh); */
}

.bigdrop-describe {
  position: absolute;
  top: 6em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4em;
}

.bigdrop-explain {
  display: none;
  position: absolute;
  top: 50%;
  left: 65%;
  width: 40ch;
  font-size: 1.4em;
  transform: translateY(-50%);
}

.scen-settings {
  flex-grow: 1;
  font-size: 1rem;
  font-family: sans-serif;
  color: #333;
  cursor: initial;
}

.scen-settings .condense {
  display: flex;
  gap: 0.5em 1em;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  background-color: inherit;
}

.scen-settings .condense .sett-dot-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2em;
  background-color: var(--dot-color-light, rgb(255, 189, 189));
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.scen-settings .condense .sett-dot-wrapper:nth-child(1),
.scen-settings .full-card:nth-of-type(1) {
  --dot-color: red;
  --dot-color-medium: rgb(255, 216, 216);
  --dot-color-light: rgb(255, 233, 233);
}

.scen-settings .condense .sett-dot-wrapper:nth-child(2),
.scen-settings .full-card:nth-of-type(2) {
  --dot-color: orange;
  --dot-color-medium: rgb(255, 239, 211);
  --dot-color-light: rgb(255, 246, 230);
}

.scen-settings .condense .sett-dot-wrapper:nth-child(3),
.scen-settings .full-card:nth-of-type(3) {
  --dot-color: blue;
  --dot-color-medium: rgb(193, 193, 255);
  --dot-color-light: rgb(211, 211, 255);
}

.scen-settings .condense .sett-dot-wrapper:nth-child(4),
.scen-settings .full-card:nth-of-type(4) {
  --dot-color: green;
  --dot-color-medium: rgb(216, 255, 216);
  --dot-color-light: rgb(234, 255, 234);
}

.scen-settings .condense .sett-dot-wrapper:nth-child(5),
.scen-settings .full-card:nth-of-type(5) {
  --dot-color: magenta;
  --dot-color-medium: rgb(255, 215, 255);
  --dot-color-light: rgb(255, 225, 255);
}

.scen-settings .sett-dot {
  height: 1em;
  width: 1em;
  background-color: var(--dot-color, red);
  border: 1px solid var(--dot-color, red);
  display: block;
  border-radius: 100vh;
}

.scen-settings .sett-dot.not-filled {
  background-color: transparent;
}

.scen-settings .full {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: white;
  display: flex;
  align-items: center;
  pointer-events: none;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  opacity: 0;
  height: 0;
  transform: translateY(2em);
  transition: opacity 0.2s 0s, transform 0.2s 0s, height 0s 0.5s;
}

.scen-settings:hover .full {
  transition: opacity 0.2s 0.5s, transform 0.2s 0.5s, height 0s 0.5s;
  transform: translateY(0);
  height: 100%;
  opacity: 1;
  pointer-events: all;
}

.scen-settings:hover .condense {
  background-color: rgb(240, 240, 240);
}

.scen-settings .full-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: self-start;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.scen-settings .full-container>span {
  width: 100%;
  color: gray;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.scen-settings .full-card {
  background-color: var(--dot-color-light, rgb(255, 189, 189));
  display: flex;
  flex-direction: column;
  height: min-content;
  align-items: center;
  padding: 0.7em;
  border-radius: 0.7em;
  width: 15ch;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.scen-settings .full-card:hover {
  background-color: var(--dot-color-medium, rgb(252, 156, 156));
}

.scen-settings .full-card>span:nth-child(2) {
  font-size: 3em;
}

.scen-settings .sett-dot-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2em;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
}

.comp-settings {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;
}

.connect-line {
  height: 5px;
  background-color: #CC8F43;
  position: absolute;
  transform-origin: left center;
  pointer-events: none;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.8);
  z-index: 200;
}

.connect-line-container {
  position: relative;
  height: 100%;
}

.connect-line-container::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(164, 106, 0);
  border-radius: 100vh;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.connect-line-container::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(164, 106, 0);
  border-radius: 100vh;
  right: 100%;
  top: 50%;
  transform: translate(50%, -50%);
}

.baseline-pointer path {
  stroke: yellow;
  stroke-linecap: round;
}

.baseline-pointer text {
  letter-spacing: 0.1em;
  font-style: italic;
  opacity: 0.6;
}

.bucket-label text {
  text-anchor: middle;
  alignment-baseline: middle;
  font-size: 0.8em;
}